{
    "semi": true,
    "singleQuote": false,
    "tabWidth": 2,
    "printWidth": 70,
    "trailingComma": "all",
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "importOrderParserPlugins": [
        "typescript",
        "decorators"
    ],
    "importOrder": [
        "^\\./env$",
        "^[^.]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}